*{
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
.xiaomi {
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 40px;
    background: #333333;
}
.nav {
    width: 1226px;
    height: 100%;
    margin: auto;
}
.nav li {
    float: left;
    font-size: 12px;
    line-height: 40px;
}
.nav  .left li {
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.left li:last-child {
    background-image: none;
}
.right li {
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.right li:nth-child(3) {
    background-image: none;
}
.right li:last-child {
    background-image: none;
}
.nav li a {
    padding: 0 6px 0 6px;
    color: #b0b0bb;
}
.nav li a:hover {
    color: white;
}
.gouwu {
    width: 120px;
    height: 40px;
    background: #424242;
    text-align: center;
    position: relative;
}
.gouwu i {
    font-size: 14px;
    line-height: 40px;   
}
.gouwu:hover{
    color: #ff6700;
    background: white;
}
.gouwu p {
    width: 316px;
    height: 90px;
    background: white;
    color: #424242;
    font-size: 10px;
    line-height: 90px;
    padding-top: 10px;
    position: absolute;
    right: 0px;
    top: 40px;
    display: none;
}
.gouwu:hover p {
    display: block;
}
/* 结束？？ */
.main {
    width: 100%;
    height: 100px;
    background: aqua;
}
.main .article {
    width: 1226px;
    height: 100%;
    background: salmon;
    margin: auto;
}
.article li {
    float: left;
}
.article .zuo{
    background-image:url(../images/2.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    font-size: 16px;
    line-height: 100px;
    padding-left: 244px;
}
.zuo li {
    padding-left: 21px;
}
.zuo li a {
    color: black;
}
.you {
    margin-top: 25px;
}
.you input {
    width: 223px;
    height: 50px;
    float: left;

}.you button {
    width: 52px;
    height: 50px;
    float: left;  
}