@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.clear {
  width: 1227px;
  margin: auto;
}

.box {
  width: 100%;
  height: 100%;
}

.box .head {
  width: 100%;
  height: 39px;
  background: #333333;
}

.box .head .shang {
  width: 1227px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.box .head .shang .sright {
  height: 100%;
  list-style: none;
  display: flex;
}

.box .head .shang .sright li:hover {
  color: white;
}

.box .head .shang .sright li {
  width: 40px;
  font-size: 12px;
  line-height: 39px;
  color: #b0b0b0;
}

.box .head .shang .sright li .rightxia {
  position: absolute;
  left: -300px;
  height: 0px;
  list-style: none;
  transition: 2s;
  right: 0;
  background: white;
  z-index: 1;
}

.box .head .shang .sright li:nth-child(3) {
  width: 83px;
}

.box .head .shang .sright li:nth-child(4) {
  width: 120px;
  text-align: center;
  background: #424242;
  color: #b0b0b0;
  position: relative;
}

.box .head .shang .sright li:nth-child(4):hover {
  background: white;
  color: orange;
}

.box .head .shang .sright li:nth-child(4):hover .rightxia {
  height: 100px;
}

.box .head .shang .sleft {
  width: 677px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.box .head .shang .sleft li:hover {
  color: white;
}

.box .head .shang .sleft li {
  font-size: 12px;
  color: #b0b0b0;
  padding-right: 10px;
  line-height: 39px;
  background-image: url(../images/未标题-2.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.box .top {
  height: 101px;
  width: 100%;
}

.box .top .topz {
  height: 100%;
  background: pink;
  display: flex;
}

.box .top .topz .logo {
  width: 234px;
  height: 100%;
  background-image: url(../images/小米商城_-_小米CC9、小米MIX_3、Redmi_K20，小米电视官方网站/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.box .top .topz .sj {
  width: 595px;
  height: 100%;
  margin-left: 7px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.box .top .topz .sj li:hover {
  color: orange;
}

.box .top .topz .sj li:hover .sjxia {
  height: 200px;
  transition: 1s;
}

.box .top .topz .sj li {
  line-height: 101px;
  font-size: 17px;
}

.box .top .topz .sj li .sjxia {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  height: 0px;
  background: yellow;
}

.box .top .topz .sj li .sjxia .xia {
  height: 100%;
  background: pink;
  list-style: none;
  justify-content: space-between;
  display: flex;
}

.box .top .topz .sj li .sjxia .xia li {
  width: 200px;
  background: yellowgreen;
}

.box .tv {
  width: 100%;
  height: 460px;
}

.box .tv .tvz {
  height: 100%;
  position: relative;
  display: flex;
}

.box .tv .tvz .tvl {
  width: 233px;
  position: relative;
  height: 100%;
  list-style: none;
  background: #5f6365;
  border: 1px solid white;
  box-sizing: border-box;
}

.box .tv .tvz .tvl .l1:hover {
  background: orange;
  background-image: url(../images/未标题-1.png);
  background-repeat: no-repeat;
  background-position: 200px center;
}

.box .tv .tvz .tvl .l1:hover .u1 {
  display: block;
}

.box .tv .tvz .tvl .l1 {
  font-size: 12px;
  color: white;
  line-height: 43px;
  padding-left: 27px;
  background-image: url(../images/未标题-1.png);
  background-repeat: no-repeat;
  background-position: 200px center;
}

.box .tv .tvz .tvl .l1 .u1 {
  position: absolute;
  list-style: none;
  background: pink;
  width: 994px;
  height: 100%;
  left: 232px;
  top: 0;
  display: none;
}

.box .tv .tvz .tvtu {
  width: 994px;
  height: 100%;
  background: fuchsia;
}

.box .tv .tvz .tvtu img {
  width: 994px;
  height: 100%;
}

.box .threephoto {
  width: 100%;
  height: 171px;
  margin-top: 14px;
  margin-bottom: 26px;
}

.box .threephoto .xuangou {
  height: 100%;
  background: yellow;
  display: flex;
}

.box .threephoto .xuangou .xuanleft {
  width: 235px;
  list-style: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 14px;
}

.box .threephoto .xuangou .xuanleft li {
  width: 78px;
  height: 50%;
  background: pink;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  box-sizing: border-box;
}

.box .threephoto .xuangou .xuanright {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.box .threephoto .xuangou .xuanright li {
  width: 316px;
  height: 100%;
  background-image: url(../images/小米商城_-_小米CC9、小米MIX_3、Redmi_K20，小米电视官方网站/11.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.box .wuxian {
  width: 100%;
  height: 120px;
}

.box .wuxian .wz {
  height: 100%;
  background-image: url(../images/小米商城_-_小米CC9、小米MIX_3、Redmi_K20，小米电视官方网站/111.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
