@charset "UTF-8";
* {
  box-sizing: border-box;
}

#xiaomi {
  width: 100%;
  height: auto;
}

#xiaomi .head {
  width: 100%;
  height: 40px;
  background-color: #333333;
}

#xiaomi .head .nav {
  width: 1350px;
  padding-left: 60px;
  display: flex;
  position: relative;
}

#xiaomi .head .nav li {
  display: flex;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  color: #b0b0b0;
}

#xiaomi .head .nav li a {
  display: inline-block;
  color: #b0b0b0;
}

#xiaomi .head .nav li span {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.3;
  margin: 0 10px;
}

#xiaomi .head .nav .box {
  background-image: url(../images/小米商城图片/erweima.png);
  display: none;
  position: absolute;
  left: 600px;
  top: 40px;
}

#xiaomi .head .nav li:nth-child(11) {
  position: relative;
}

#xiaomi .head .nav li:nth-child(11):hover p {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 0;
  left: 18px;
}

#xiaomi .head .nav li:nth-child(11):hover .box {
  display: block;
}

#xiaomi .head .nav li:nth-child(12) {
  padding-right: 275px;
}

#xiaomi .head .nav li:last-of-type {
  padding-left: 25px;
  width: 120px;
  background-color: #ccc;
  position: absolute;
  right: -120px;
}
