*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.content{
    width: 1226px;
    height: 100%;
    margin: auto;
}
#xiaomi{
    height: 100%;
    width: 100%;
    header{
        width: 100%;
        height: 140px;
        .content{
            .top{
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                background-color: #333333;
                line-height: 12px;
                a{
                    display: block;
                    color: #b0b0b0;
                    border-right: #b0b0b0 1px solid;
                    padding: 0px 8px;
                }
                a:hover{
                    color: #fff;
                }
                .list_1{
                    li{
                        float: left;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        
                    }
                }
                .list_2{
                    li{
                        float: left;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }
                    .gouwuche:hover div{
                        display: block;
                    }
                    .gouwuche:hover{
                        background-color: #424242;
                    }
                    .gouwuche{
                        height: 40px;
                        width: 120px;
                        justify-content: center;
                        a{
                            border-right: transparent;
                        }
                        div{
                            height: 96px;
                            width: 200px;
                            border: #b0b0b0 solid 1px;
                            position: absolute;
                            top: 40px;
                            right: 0px;
                            text-align: center;
                            line-height: 96px;
                            z-index: 2;
                            display: none;
                            background-color: #fff;
                        }
                    }
                }
            }
            .bottom{
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box_img{}
                .list_1{
                    li:hover .list_xiala{
                        display: flex;
                    }
                    li{
                        float: left;
                        width: 85px;
                        height: 100%;
                        .list_xiala{
                            height: 200px;
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            top:140px;
                            display: flex;
                            justify-content: center;
                            display: none;
                            background: #fff;
                            z-index: 1;
                            dl{
                                width: 200px;
                                height: 100%;
                                text-align: center;
                                .top{
                                    border: #ff6700 1px solid;
                                    width: 40px;
                                    height: 20px;
                                    background-color: #fff;
                                    font-size: 12px;
                                    color: #ff6700;
                                    margin: auto;
                                    line-height: 20px;
                                    text-align: center;
                                }
                                dt{
                                    height: 50%;
                                    width: 100%;
                                    border-right: #b0b0b0 solid 1px;
                                    img{
                                        width: 80%;
                                        height: 100%;
                                    }
                                }
                                dd{
                                    padding-top: 10px;
                                    font-size: 14px;
                                    span{
                                        color: #ff6700;
                                    }
                                }
                            }

                        }
                        a:hover{
                            color: #ff6700;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                            line-height: 100px;
                            text-align: center;
                            color: #333333;
                            font-size: 15px;
                        }
                    }
                }
                .input_text{
                    height: 50px;
                    width: 230px;
                    input{
                        float: left;
                        height: 100%;
                        width: 170px;
                        border: #b0b0b0 1px solid;
                    }
                    div:hover{
                        background-color: #ff6700;
                        border: #ff6700 1px solid;
                        color: #fff;
                    }
                    div{
                        float: left;
                        width: 50px;
                        height: 50px;
                        border: #b0b0b0 1px solid;
                        border-left: none;
                        text-align: center;
                        line-height: 50px;
                        text-align: 14px;
                        color: #b0b0b0;
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        .content{
            nav{
                height: 464px;
                width: 100%;
                background-image: url(../img/xmad_15626380688568_NYbTj.jpg);
                background-size: 100% 100%;
                .list_1{
                    padding: 18px 0px;
                    height: 100%;
                    width: 234px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #5f6365;
                    li:hover{
                        background-color: #ff6700;
                    }
                    li:hover .list_xiala{
                        display: flex;
                    }
                    li{
                        flex:1;
                        padding: 0px 15px;
                        display: flex;
                        justify-content: space-between;
                        color: #b0b0b0;
                        font-size: 14px;
                        position: relative;
                        span{
                            line-height: 42px;
                        }
                        .list_xiala{
                            position: absolute;
                            top: -15px;
                            // bottom: 0px;
                            // right: 0px;
                            left: 234px;
                            width: 992px;
                            height: 454px;
                            background-color: #fff;
                            display: flex;
                            flex-wrap:wrap;
                            display: none;
                            dl{
                                display: flex;
                                padding: 15px;
                                width: 25%;
                                height: 20%;
                                dt{
                                    height: 100%;
                                    width: 40%;
                                    img{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                dd:hover{
                                    color: #ff6700;
                                }
                                dd{
                                    font-size: 14px;
                                    line-height: 60px;
                                    color: #000;
                                }                                
                            }
                        }
                    }
                }
            }
            article{
                height: 210px;
                width: 100%;
                .list_1{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li:nth-child(1){
                        width: 234px;
                        background: #5f5750;
                        .list_2{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            color: #b0b0b0;
                            dl{
                                width: 33.3%;
                                height: 50%;
                                border: #b0b0b0 1px solid;
                                text-align: center;
                                dt{
                                    height: 44px;
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: center;
                                    i{
                                        font-size: 26px;
                                    }
                                }
                                dd{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    li{
                        width: 316px;
                        height: 169px;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            
        }
        .main_1{
            width: 100%;
            background-color: #f5f5f5;
            margin-top: 40px;
            .content{
                .list_1{
                    display: grid;
                    width: 100%;
                    height:614px;
                    grid-template-rows: repeat(2, 300px);
                    grid-template-columns: repeat(5, 234px);
                    gap: 14px;
                    margin-bottom: 40px;
                    dl:nth-child(1){
                        grid-row: 1 / 3;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    dl:hover{
                        margin-top: -5px;
                        margin-bottom: 5px;
                        box-shadow: #b0b0b0 1px 1px 5px 5px ;
                    }
                    dl{
                        font-size: 14px;   
                        text-align: center;
                        background-color: #fff; 
                        div{
                            border: #83c44e 1px solid;
                            color: #fff;
                            width: 40px;
                            height: 20px;
                            margin: auto;
                            background-color: #83c44e;
                            text-align: center;
                        }
                        dt{
                            height: 183px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 116px;
                                height: 136px;
                            }
                        }
                        dd{
                            p:nth-child(2){
                                color: #5f6365;
                            }
                            p:nth-child(3){
                                color: #ff6700;
                            }
                            p{}
                        }
                    }
                }
            }
        }
        .main_2{
            width: 100%;
            background-color: #f5f5f5;
            margin-top: 40px;
            .content{
                position: relative;
                .list_1{
                    display: grid;
                    width: 100%;
                    height:614px;
                    grid-template-rows: repeat(2, 300px);
                    grid-template-columns: repeat(5, 234px);
                    gap: 14px;
                    dl:nth-child(1),dl:nth-child(6){
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    dl:hover{
                        margin-top: -5px;
                        margin-bottom: 5px;
                        box-shadow: #b0b0b0 1px 1px 5px 5px ;
                    }
                    dl:hover .tanchuang{
                        height: 30%;
                        padding: 10px 5px 0px;
                    }
                    dl{
                        font-size: 14px;   
                        text-align: center;
                        background-color: #fff; 
                        position: relative;
                        .tanchuang{
                            background-color: #ff6700;
                            color: #fff;
                            width: 100%;
                            // height: 30%;
                            height: 0px;
                            position: absolute;
                            bottom: 0px;
                            // padding: 10px 5px 0px;
                            transition: all 0.5s;
                            overflow: hidden;
                        }
                        div{
                            border: #83c44e 1px solid;
                            color: #fff;
                            width: 40px;
                            height: 20px;
                            margin: auto;
                            background-color: #83c44e;
                            text-align: center;
                        }
                        dt{
                            height: 183px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 116px;
                                height: 136px;
                            }
                        }
                        dd{
                            p:nth-child(2){
                                color: #5f6365;
                            }
                            p:nth-child(3){
                                color: #ff6700;
                            }
                            p{}
                        }
                    }
                }
                .list_2{
                    width: 234px;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    dl:hover{
                        margin-top: -5px;
                        margin-bottom: 5px;
                        box-shadow: #b0b0b0 1px 1px 5px 5px ;
                    }
                    dl{
                        width: 100%;
                        height: 144px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 20px;
                        background-color: #fff;
                        dt{
                            width: 30%;
                            height: 50%;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        dd{

                        }
                    }
                }
            }
        }
        .main_3{
            width: 100%;
            background-color: #f5f5f5;
            .content{
                .list_1{
                    height: 416px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    dl{
                        width: 296px;
                        height: 100%;
                        // border: #5f6365 1px solid;
                        font-size: 14px;
                        dt{
                            width: 100%;
                            height: 220px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        dd{
                            padding: 15px;
                            p:nth-child(2){
                                color: #5f6365;
                                line-height: 30px;
                            }
                            
                            p{
                                span{
                                    color: #ff6700;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main_4{
            width: 100%;
            background-color: #f5f5f5;
            padding-bottom: 60px;
            .content{
                .list_1{
                    height: 420px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    dl{
                        width: 296px;
                        height: 100%;
                        font-size: 14px;
                        background-color: #fff;
                        dt{
                            width: 100%;
                            height: 80px;
                            text-align: center;
                            line-height: 80px;
                            color: #ff6700;
                            border-top: #ff6700 1px solid;
                        }
                        dd{
                            text-align: center;
                            padding: 15px;
                            h3{
                                font-size: 18px;
                                font-weight: 900;
                            }
                            img:hover{
                                border: blue 1px solid;
                            }
                            p:nth-child(2){
                                color: #5f6365;
                                line-height: 30px;
                            }                           
                            p{
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        // height: 560px;
        background: #fff;
        .content{
            height: 250px;
            .top{
                width: 100%;
                .list_1{
                    width: 100%;
                    display: flex;
                    border-bottom: #5f6365 1px solid;
                    li{
                        width: 25%;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            width: 100%;
                            text-align: center;
                            display: block;
                            border-right: #5f6365 1px solid;
                            font-size: 14px;
                            color: #5f6365;
                        }   
                    }
                }
            }
            .center{
                width: 100%;
                display: flex;
                height: 150px;
                .left{
                    flex: 3;
                    // background-color: #585858;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    align-items: center;
                    padding: 0px 0px 0px 20px ;
                    color: #585858;
            
                    ul:last-child{
                        border-right: #585858 1px solid;
                        padding-right: 20px;
                    }
                    li:nth-child(1){
                        font-size: 18px;
                        line-height: 40px;
                    }
                    
                    li{
                        font-size: 14px;
                        line-height: 24px;
                        
                    }
                }
                .right{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #585858;                    
                    h5{
                        color: #ff6700;
                        font-size: 18px;
                    }
                    div{
                        border: #ff6700 1px solid;
                        color: #ff6700;
                        padding: 5px 20px;
                        margin-top: 14px;
                    }
                }
            }
        }
        .bottom{
            width: 100%;
            height: 220px;
            background-color: #b0b0b0;
            .content{
                padding-top: 40px;
                img{
                    float: left;
                }
                div{
                    float: left;
                    font-size: 14px;
                    color: #424242;
                    .list_1{
                        li:hover{
                            color: #ff6700;
                        }
                        li{
                            float: left;
                            border-right: 1px #5f6365 solid;
                            padding: 0px 3px;

                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 16px;
                    }
                    .list_2{
                        margin-top: 10px;
                        li:nth-child(1){
                            padding: 0;
                             img{
                                width: 100%;
                                height: 100%;
                                
                            }
                        }
                        li{
                            float: left;
                            background-color: #fff;
                            width: 100px;
                            height: 40px;
                            text-align: center;
                            padding: 5px;

                        }
                    }
                }
                
            }
        }
    }
    .sedebar{
        position: fixed;
        right: 32px;
        top: 30%;
        .list_1{
            li:hover{
                color: #ff6700;
            }
            li:hover div{
                display: block;
            }
            li{
                width: 30px;
                height: 40px;
                background-color: #ffffcc;
                border-bottom: #5f6365 1px solid;
                text-align: center;
                margin-top: 3px;
                position: relative;
                div{
                    height: 30px;
                    width: 60px;
                    position: absolute;
                    left: -62px;
                    top: 5px;
                    font-size: 12px;
                    color: #5f6365;
                    background-color: #fff;
                    line-height: 30px;
                    text-align: center;
                    border: #b0b0b0 1px solid;
                    z-index: 1;
                    display: none;
                }
                i{
                    font-size: 18px;
                    line-height: 40px;
                }
            }
        }
    }
}
.zhonggetu{
    width: 100%;
    height: 120px;
    img{
        width: 100%;
        height: 100%;
    }
}
h2{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    p{
        font-size: 21px;
        font-weight: 900;
    }
    span{
        font-size: 14px;
        color: #5f6365;
    }
}
dl:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: #b0b0b0 1px 1px 5px 5px ;
}