* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.content {
  width: 1226px;
  height: 100%;
  margin: auto;
}

#xiaomi {
  height: 100%;
  width: 100%;
}

#xiaomi header {
  width: 100%;
  height: 140px;
}

#xiaomi header .content .top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #333333;
  line-height: 12px;
}

#xiaomi header .content .top a {
  display: block;
  color: #b0b0b0;
  border-right: #b0b0b0 1px solid;
  padding: 0px 8px;
}

#xiaomi header .content .top a:hover {
  color: #fff;
}

#xiaomi header .content .top .list_1 li {
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
}

#xiaomi header .content .top .list_2 li {
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

#xiaomi header .content .top .list_2 .gouwuche:hover div {
  display: block;
}

#xiaomi header .content .top .list_2 .gouwuche:hover {
  background-color: #424242;
}

#xiaomi header .content .top .list_2 .gouwuche {
  height: 40px;
  width: 120px;
  justify-content: center;
}

#xiaomi header .content .top .list_2 .gouwuche a {
  border-right: transparent;
}

#xiaomi header .content .top .list_2 .gouwuche div {
  height: 96px;
  width: 200px;
  border: #b0b0b0 solid 1px;
  position: absolute;
  top: 40px;
  right: 0px;
  text-align: center;
  line-height: 96px;
  z-index: 2;
  display: none;
  background-color: #fff;
}

#xiaomi header .content .bottom {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#xiaomi header .content .bottom .list_1 li:hover .list_xiala {
  display: flex;
}

#xiaomi header .content .bottom .list_1 li {
  float: left;
  width: 85px;
  height: 100%;
}

#xiaomi header .content .bottom .list_1 li .list_xiala {
  height: 200px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 140px;
  display: flex;
  justify-content: center;
  display: none;
  background: #fff;
  z-index: 1;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl {
  width: 200px;
  height: 100%;
  text-align: center;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl .top {
  border: #ff6700 1px solid;
  width: 40px;
  height: 20px;
  background-color: #fff;
  font-size: 12px;
  color: #ff6700;
  margin: auto;
  line-height: 20px;
  text-align: center;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl dt {
  height: 50%;
  width: 100%;
  border-right: #b0b0b0 solid 1px;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl dt img {
  width: 80%;
  height: 100%;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl dd {
  padding-top: 10px;
  font-size: 14px;
}

#xiaomi header .content .bottom .list_1 li .list_xiala dl dd span {
  color: #ff6700;
}

#xiaomi header .content .bottom .list_1 li a:hover {
  color: #ff6700;
}

#xiaomi header .content .bottom .list_1 li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 100px;
  text-align: center;
  color: #333333;
  font-size: 15px;
}

#xiaomi header .content .bottom .input_text {
  height: 50px;
  width: 230px;
}

#xiaomi header .content .bottom .input_text input {
  float: left;
  height: 100%;
  width: 170px;
  border: #b0b0b0 1px solid;
}

#xiaomi header .content .bottom .input_text div:hover {
  background-color: #ff6700;
  border: #ff6700 1px solid;
  color: #fff;
}

#xiaomi header .content .bottom .input_text div {
  float: left;
  width: 50px;
  height: 50px;
  border: #b0b0b0 1px solid;
  border-left: none;
  text-align: center;
  line-height: 50px;
  text-align: 14px;
  color: #b0b0b0;
}

#xiaomi main {
  width: 100%;
}

#xiaomi main .content nav {
  height: 464px;
  width: 100%;
  background-image: url(../img/xmad_15626380688568_NYbTj.jpg);
  background-size: 100% 100%;
}

#xiaomi main .content nav .list_1 {
  padding: 18px 0px;
  height: 100%;
  width: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5f6365;
}

#xiaomi main .content nav .list_1 li:hover {
  background-color: #ff6700;
}

#xiaomi main .content nav .list_1 li:hover .list_xiala {
  display: flex;
}

#xiaomi main .content nav .list_1 li {
  flex: 1;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  color: #b0b0b0;
  font-size: 14px;
  position: relative;
}

#xiaomi main .content nav .list_1 li span {
  line-height: 42px;
}

#xiaomi main .content nav .list_1 li .list_xiala {
  position: absolute;
  top: -15px;
  left: 234px;
  width: 992px;
  height: 454px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

#xiaomi main .content nav .list_1 li .list_xiala dl {
  display: flex;
  padding: 15px;
  width: 25%;
  height: 20%;
}

#xiaomi main .content nav .list_1 li .list_xiala dl dt {
  height: 100%;
  width: 40%;
}

#xiaomi main .content nav .list_1 li .list_xiala dl dt img {
  height: 100%;
  width: 100%;
}

#xiaomi main .content nav .list_1 li .list_xiala dl dd:hover {
  color: #ff6700;
}

#xiaomi main .content nav .list_1 li .list_xiala dl dd {
  font-size: 14px;
  line-height: 60px;
  color: #000;
}

#xiaomi main .content article {
  height: 210px;
  width: 100%;
}

#xiaomi main .content article .list_1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#xiaomi main .content article .list_1 li:nth-child(1) {
  width: 234px;
  background: #5f5750;
}

#xiaomi main .content article .list_1 li:nth-child(1) .list_2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #b0b0b0;
}

#xiaomi main .content article .list_1 li:nth-child(1) .list_2 dl {
  width: 33.3%;
  height: 50%;
  border: #b0b0b0 1px solid;
  text-align: center;
}

#xiaomi main .content article .list_1 li:nth-child(1) .list_2 dl dt {
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#xiaomi main .content article .list_1 li:nth-child(1) .list_2 dl dt i {
  font-size: 26px;
}

#xiaomi main .content article .list_1 li:nth-child(1) .list_2 dl dd {
  font-size: 14px;
}

#xiaomi main .content article .list_1 li {
  width: 316px;
  height: 169px;
}

#xiaomi main .content article .list_1 li img {
  height: 100%;
  width: 100%;
}

#xiaomi main .main_1 {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 40px;
}

#xiaomi main .main_1 .content .list_1 {
  display: grid;
  width: 100%;
  height: 614px;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(5, 234px);
  gap: 14px;
  margin-bottom: 40px;
}

#xiaomi main .main_1 .content .list_1 dl:nth-child(1) {
  grid-row: 1 / 3;
}

#xiaomi main .main_1 .content .list_1 dl:nth-child(1) img {
  height: 100%;
  width: 100%;
}

#xiaomi main .main_1 .content .list_1 dl:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: #b0b0b0 1px 1px 5px 5px;
}

#xiaomi main .main_1 .content .list_1 dl {
  font-size: 14px;
  text-align: center;
  background-color: #fff;
}

#xiaomi main .main_1 .content .list_1 dl div {
  border: #83c44e 1px solid;
  color: #fff;
  width: 40px;
  height: 20px;
  margin: auto;
  background-color: #83c44e;
  text-align: center;
}

#xiaomi main .main_1 .content .list_1 dl dt {
  height: 183px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#xiaomi main .main_1 .content .list_1 dl dt img {
  width: 116px;
  height: 136px;
}

#xiaomi main .main_1 .content .list_1 dl dd p:nth-child(2) {
  color: #5f6365;
}

#xiaomi main .main_1 .content .list_1 dl dd p:nth-child(3) {
  color: #ff6700;
}

#xiaomi main .main_2 {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 40px;
}

#xiaomi main .main_2 .content {
  position: relative;
}

#xiaomi main .main_2 .content .list_1 {
  display: grid;
  width: 100%;
  height: 614px;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(5, 234px);
  gap: 14px;
}

#xiaomi main .main_2 .content .list_1 dl:nth-child(1) img, #xiaomi main .main_2 .content .list_1 dl:nth-child(6) img {
  height: 100%;
  width: 100%;
}

#xiaomi main .main_2 .content .list_1 dl:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: #b0b0b0 1px 1px 5px 5px;
}

#xiaomi main .main_2 .content .list_1 dl:hover .tanchuang {
  height: 30%;
  padding: 10px 5px 0px;
}

#xiaomi main .main_2 .content .list_1 dl {
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

#xiaomi main .main_2 .content .list_1 dl .tanchuang {
  background-color: #ff6700;
  color: #fff;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  transition: all 0.5s;
  overflow: hidden;
}

#xiaomi main .main_2 .content .list_1 dl div {
  border: #83c44e 1px solid;
  color: #fff;
  width: 40px;
  height: 20px;
  margin: auto;
  background-color: #83c44e;
  text-align: center;
}

#xiaomi main .main_2 .content .list_1 dl dt {
  height: 183px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#xiaomi main .main_2 .content .list_1 dl dt img {
  width: 116px;
  height: 136px;
}

#xiaomi main .main_2 .content .list_1 dl dd p:nth-child(2) {
  color: #5f6365;
}

#xiaomi main .main_2 .content .list_1 dl dd p:nth-child(3) {
  color: #ff6700;
}

#xiaomi main .main_2 .content .list_2 {
  width: 234px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#xiaomi main .main_2 .content .list_2 dl:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: #b0b0b0 1px 1px 5px 5px;
}

#xiaomi main .main_2 .content .list_2 dl {
  width: 100%;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: #fff;
}

#xiaomi main .main_2 .content .list_2 dl dt {
  width: 30%;
  height: 50%;
}

#xiaomi main .main_2 .content .list_2 dl dt img {
  width: 100%;
  height: 100%;
}

#xiaomi main .main_3 {
  width: 100%;
  background-color: #f5f5f5;
}

#xiaomi main .main_3 .content .list_1 {
  height: 416px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#xiaomi main .main_3 .content .list_1 dl {
  width: 296px;
  height: 100%;
  font-size: 14px;
}

#xiaomi main .main_3 .content .list_1 dl dt {
  width: 100%;
  height: 220px;
}

#xiaomi main .main_3 .content .list_1 dl dt img {
  width: 100%;
  height: 100%;
}

#xiaomi main .main_3 .content .list_1 dl dd {
  padding: 15px;
}

#xiaomi main .main_3 .content .list_1 dl dd p:nth-child(2) {
  color: #5f6365;
  line-height: 30px;
}

#xiaomi main .main_3 .content .list_1 dl dd p span {
  color: #ff6700;
}

#xiaomi main .main_4 {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

#xiaomi main .main_4 .content .list_1 {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#xiaomi main .main_4 .content .list_1 dl {
  width: 296px;
  height: 100%;
  font-size: 14px;
  background-color: #fff;
}

#xiaomi main .main_4 .content .list_1 dl dt {
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #ff6700;
  border-top: #ff6700 1px solid;
}

#xiaomi main .main_4 .content .list_1 dl dd {
  text-align: center;
  padding: 15px;
}

#xiaomi main .main_4 .content .list_1 dl dd h3 {
  font-size: 18px;
  font-weight: 900;
}

#xiaomi main .main_4 .content .list_1 dl dd img:hover {
  border: blue 1px solid;
}

#xiaomi main .main_4 .content .list_1 dl dd p:nth-child(2) {
  color: #5f6365;
  line-height: 30px;
}

#xiaomi footer {
  width: 100%;
  background: #fff;
}

#xiaomi footer .content {
  height: 250px;
}

#xiaomi footer .content .top {
  width: 100%;
}

#xiaomi footer .content .top .list_1 {
  width: 100%;
  display: flex;
  border-bottom: #5f6365 1px solid;
}

#xiaomi footer .content .top .list_1 li {
  width: 25%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#xiaomi footer .content .top .list_1 li a {
  width: 100%;
  text-align: center;
  display: block;
  border-right: #5f6365 1px solid;
  font-size: 14px;
  color: #5f6365;
}

#xiaomi footer .content .center {
  width: 100%;
  display: flex;
  height: 150px;
}

#xiaomi footer .content .center .left {
  flex: 3;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0px 0px 0px 20px;
  color: #585858;
}

#xiaomi footer .content .center .left ul:last-child {
  border-right: #585858 1px solid;
  padding-right: 20px;
}

#xiaomi footer .content .center .left li:nth-child(1) {
  font-size: 18px;
  line-height: 40px;
}

#xiaomi footer .content .center .left li {
  font-size: 14px;
  line-height: 24px;
}

#xiaomi footer .content .center .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #585858;
}

#xiaomi footer .content .center .right h5 {
  color: #ff6700;
  font-size: 18px;
}

#xiaomi footer .content .center .right div {
  border: #ff6700 1px solid;
  color: #ff6700;
  padding: 5px 20px;
  margin-top: 14px;
}

#xiaomi footer .bottom {
  width: 100%;
  height: 220px;
  background-color: #b0b0b0;
}

#xiaomi footer .bottom .content {
  padding-top: 40px;
}

#xiaomi footer .bottom .content img {
  float: left;
}

#xiaomi footer .bottom .content div {
  float: left;
  font-size: 14px;
  color: #424242;
}

#xiaomi footer .bottom .content div .list_1 li:hover {
  color: #ff6700;
}

#xiaomi footer .bottom .content div .list_1 li {
  float: left;
  border-right: 1px #5f6365 solid;
  padding: 0px 3px;
}

#xiaomi footer .bottom .content div p {
  font-size: 12px;
  line-height: 16px;
}

#xiaomi footer .bottom .content div .list_2 {
  margin-top: 10px;
}

#xiaomi footer .bottom .content div .list_2 li:nth-child(1) {
  padding: 0;
}

#xiaomi footer .bottom .content div .list_2 li:nth-child(1) img {
  width: 100%;
  height: 100%;
}

#xiaomi footer .bottom .content div .list_2 li {
  float: left;
  background-color: #fff;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 5px;
}

#xiaomi .sedebar {
  position: fixed;
  right: 32px;
  top: 30%;
}

#xiaomi .sedebar .list_1 li:hover {
  color: #ff6700;
}

#xiaomi .sedebar .list_1 li:hover div {
  display: block;
}

#xiaomi .sedebar .list_1 li {
  width: 30px;
  height: 40px;
  background-color: #ffffcc;
  border-bottom: #5f6365 1px solid;
  text-align: center;
  margin-top: 3px;
  position: relative;
}

#xiaomi .sedebar .list_1 li div {
  height: 30px;
  width: 60px;
  position: absolute;
  left: -62px;
  top: 5px;
  font-size: 12px;
  color: #5f6365;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  border: #b0b0b0 1px solid;
  z-index: 1;
  display: none;
}

#xiaomi .sedebar .list_1 li i {
  font-size: 18px;
  line-height: 40px;
}

.zhonggetu {
  width: 100%;
  height: 120px;
}

.zhonggetu img {
  width: 100%;
  height: 100%;
}

h2 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 16px;
}

h2 p {
  font-size: 21px;
  font-weight: 900;
}

h2 span {
  font-size: 14px;
  color: #5f6365;
}

dl:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: #b0b0b0 1px 1px 5px 5px;
}
