html,
body {
    height: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0px;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

#xiaomi {
    height: 100%;
    position: relative;

    .container {
        width: 1226px;
        margin: auto;
        height: 100%;
        // background: red;
    }

    .header {
        height: 40px;
        background: #333;
        font-size: 12px;


        ul {
            li {
                float: left;

                a {
                    display: inline-block;
                    line-height: 40px;
                    color: #b0b0b0;
                }

                span {
                    margin: 0 .5em;
                    color: #424242;
                }
            }

            li:hover a {
                color: #fff;
            }
        }

        .shop {
            width: 120px;
            margin-left: 15px;
            position: relative;

            a {

                display: block;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #b0b0b0;
                background: #424242;
            }

            .shopp {
                position: absolute;
                right: 0;
                top: 40px;
                background: #fff;
                text-align: center;
                width: 316px;
                padding: 15px 0 0;
                color: #424242;
                display: none;
            }
        }

        .shop:hover a {
            background: #fff;
            color: red;
        }

        .shop:hover .shopp {
            display: block;
        }

    }

    .aside {
        position: fixed;
        top: 150px;
        right: 0px;
        z-index: 99;

        ul {
            height: 500px;
            width: 90px;
            background: #fff;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            display: flex;
            flex-direction: column;

            li {
                flex: 1;
                border-bottom: 1px solid #ccc;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                i {
                    width: 30px;
                    height: 30px;
                    background: url(../images/ia_10257.png) no-repeat center center;
                    background-size: 100%;
                }
            }

            li:nth-child(2) i {
                background: url(../images/ia_10260.png) no-repeat center center;
                background-size: 100%;
            }

            li:nth-child(3) i {
                background: url(../images/ia_10262.png) no-repeat center center;
                background-size: 100%;
            }

            li:nth-child(4) i {
                background: url(../images/ia_10264.png) no-repeat center center;
                background-size: 100%;
            }

            li:nth-child(5) i {
                background: url(../images/ia_10266.png) no-repeat center center;
                background-size: 100%;
            }

            li:hover span {
                color: red;
            }

            li:hover:nth-child(1) i {
                background: url(../images/ia_10258.png) no-repeat center center;
                background-size: 100%;
            }

            li:hover:nth-child(2) i {
                background: url(../images/ia_10261.png) no-repeat center center;
                background-size: 100%;
            }

            li:hover:nth-child(3) i {
                background: url(../images/ia_10263.png) no-repeat center center;
                background-size: 100%;
            }

            li:hover:nth-child(4) i {
                background: url(../images/ia_10265.png) no-repeat center center;
                background-size: 100%;
            }

            li:hover:nth-child(5) i {
                background: url(../images/ia_10267.png) no-repeat center center;
                background-size: 100%;
            }
        }
    }

    .site-header {
        height: 100px;
        // background: brown;
        position: relative;

        .header-logo {
            width: 55px;
            height: 100px;
            float: left;

            a {
                display: block;
                height: 100%;
                width: 100%;
                line-height: 100px;
                text-indent: -9999px;
                background-color: #ff6700;
                background: url(../images/ia_10279.png) no-repeat 50% 50%;
            }
        }

        .nav-list {
            float: left;
            width: 620px;
            height: 88px;
            margin: 0;
            padding: 12px 0 0 160px;
            list-style-type: none;
            font-size: 16px;

            li {
                float: left;
                padding-right: 15px;

                a {
                    font-size: 16px;
                    line-height: 88px;
                    display: block;
                    color: #333;
                }

                .nav-list1 {
                    position: absolute;
                    top: 100px;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 200px;
                    background: #ff6700;
                    display: none;
                    border-top: 1px solid #ccc;

                    ul {
                        width: 100%;
                        height: 100%;

                        li {
                            float: left;
                        }
                    }
                }
            }

            li:hover a {
                color: red;
            }

            li:hover .nav-list1 {
                display: block;
            }
        }
    }

    .header-search {
        float: right;
        width: 296px;
        margin-top: 25px;
        background: #ff6700;

        form {
            width: 296px;
            height: 50px;

            input {
                width: 223px;
                height: 48px;
                padding: 0 10px;
                border: 1px solid #e0e0e0;
                font-size: 14px;
                line-height: 48px;
            }
        }

    }

    .main {
        height: 800px;

        .banner {
            height: 460px;
            // background: #ff6700;
            background: url(../images/ia_10008.jpg) no-repeat center center;
            background-size: 100%;
            position: relative;

            .nav {
                height: 460px;
                width: 234px;
                background: #5f6365;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                padding: 35px 0px 35px 0px;
                flex-direction: column;
                box-sizing: border-box;

                li {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 12px;
                        color: #fff;
                    }
                }

                li:hover {
                    background: #ff6700;
                }
            }
        }

        .item {
            width: 100%;
            height: 170px;
            margin-top: 14px;

            .main1 {
                width: 234px;
                height: 100%;
                background: #5f5750;
                margin-right: 14px;

                .nav1 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    li {
                        width: 65px;
                        height: 70px;
                        border-right: 1px solid #665e57;
                        // border-bottom: 1px solid #665e57;
                        margin-top: 6px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;

                        span {
                            font-size: 12px;
                            line-height: 12px;
                            color: #b9cab2;
                        }
                    }
                }
            }

            .main2 {
                width: 316px;
                height: 100%;
                margin-right: 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .item1 {
            height: 120px;
            width: 100%;
            margin-top: 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .content {
        background: #f5f5f5;

        .box1 {
            overflow: hidden;

            h1 {
                margin-top: 40px;
                font-size: 20px;
                line-height: 20px;
                color: #333333;
                margin-bottom: 19px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(5, 234px);
                grid-template-rows: repeat(2, 300px);
                grid-gap: 14px;

                li {
                    // border: 1px solid #ccc;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    transition: transform .3s;

                    h3 {
                        font-size: 10px;
                        line-height: 10px;
                        color: #333333;
                    }

                    p {
                        font-size: 10px;
                        line-height: 10px;
                        color: #b0b0b0;
                    }

                    .span1 {
                        color: red;
                    }

                    .span2 {
                        text-decoration: line-through;
                    }
                }

                li:nth-child(1) {
                    // grid-column: 1 / 3;
                    grid-row: 1 / 3;
                    background: url(../images/ia_10029.jpg) no-repeat center center;
                    background-size: 100%;
                }

                li:hover {
                    transform: translateY(-6px);
                }
            }
        }

        .item1 {
            height: 120px;
            width: 100%;
            margin-top: 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .box2 {
            overflow: hidden;

            .head {
                margin-top: 40px;
                margin-bottom: 19px;
                height: 30px;

                h1 {
                    font-size: 20px;
                    line-height: 20px;
                    color: #333333;
                }

                .nav1 {
                    li {
                        float: left;
                        margin-left: 30px;
                    }
                }

            }

            .nav2 {
                display: grid;
                grid-template-columns: repeat(5, 234px);
                grid-template-rows: repeat(4, 144px);
                grid-gap: 14px;

                li:nth-child(-n+9) {
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    h3 {
                        font-size: 10px;
                        line-height: 10px;
                        color: #333333;
                    }

                    p {
                        font-size: 10px;
                        line-height: 10px;
                        color: #b0b0b0;
                    }

                    .span1 {
                        color: red;
                    }

                    .span2 {
                        text-decoration: line-through;
                    }
                }

                li:nth-child(1) {
                    grid-row: 1 / 3;
                    background: url(../images/ia_10039.jpg) no-repeat center center;
                    background-size: 100%;
                }

                li:nth-child(2) {
                    grid-row: 1 / 3;
                    grid-column: 2 / 3;
                }

                li:nth-child(3) {
                    grid-row: 1 / 3;
                    grid-column: 3 / 4;
                }

                li:nth-child(4) {
                    grid-row: 1 / 3;
                    grid-column: 4 / 5;
                }

                li:nth-child(5) {
                    grid-row: 1 / 3;
                    grid-column: 5 / 6;
                }

                li:nth-child(6) {
                    grid-row: 3 / 5;
                    grid-column: 1 / 2;
                    background: url(../images/ia_10040.jpg) no-repeat center center;
                    background-size: 100%;
                }

                li:nth-child(7) {
                    grid-row: 3 / 5;
                    grid-column: 2 / 3;
                }

                li:nth-child(8) {
                    grid-row: 3 / 5;
                    grid-column: 3 / 4;
                }

                li:nth-child(9) {
                    grid-row: 3 / 5;
                    grid-column: 4 / 5;
                }

                li:nth-child(10),
                li:nth-child(11) {
                    padding-left: 30px;
                    padding-top: 44px;
                    list-style: none;
                    background: #fff;

                    h2 {
                        font-size: 12px;
                        line-height: 12px;
                        color: #333333;
                        margin-bottom: 14px;
                    }

                    span {
                        font-size: 10px;
                        line-height: 10px;
                        color: #ff6700;
                    }
                }
            }
        }

        .box3 {
            .head {
                margin-top: 40px;
                margin-bottom: 19px;
                height: 30px;

                h1 {
                    font-size: 20px;
                    line-height: 20px;
                    color: #333333;
                }

                .head-r {
                    width: 70px;
                    height: 100%;
                    text-align: center;

                    span {
                        float: left;
                        width: 35px;
                        border: 1px solid #ccc;
                        display: block;
                        box-sizing: border-box;
                    }
                }

            }

            ul {
                display: grid;
                grid-template-columns: repeat(5, 234px);
                grid-template-rows: 300px;
                grid-gap: 14px;

                li {
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    h3 {
                        font-size: 10px;
                        line-height: 10px;
                        color: #333333;
                    }

                    p {
                        font-size: 10px;
                        line-height: 10px;
                        color: #b0b0b0;
                    }

                    .span1 {
                        color: red;
                    }

                    .span2 {
                        text-decoration: line-through;
                    }
                }
            }
        }

        .box4 {
            h1 {
                font-size: 20px;
                line-height: 20px;
                color: #333333;
                margin-top: 40px;
                margin-bottom: 19px;
                height: 30px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(4, 296px);
                grid-template-rows: 415px;
                grid-gap: 14px;

                li {
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }

        .box5 {
            margin-bottom: 60px;

            h1 {
                font-size: 20px;
                line-height: 20px;
                color: #333333;
                margin-top: 40px;
                margin-bottom: 19px;
                height: 30px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(4, 296px);
                grid-template-rows: 190px;
                grid-gap: 14px;

                li {
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }

    .footer {
        background: #fff;
        height: 270px;
    }

    .bottom {
        background: #fafafa;
        height: 230px;
    }

}